<!doctype html>
<html>
   <head>
      <title>Prediksi Diabetes</title>
   </head>
   <body>
      <h1>Prediksi Diabetes</h1>
      <form action="{{ url_for('predict') }}" method="post">
         <label>Kehamilan</label>
         <input type="text" name="kehamilan" required>
         <br>
         <label>Glukosa</label>
         <input type="text" name="glukosa" required>
         <br>
         <label>Tekanan Darah</label>
         <input type="text" name="tekanan_darah" required>
         <br>
         <label>Ketebalan Kulit</label>
         <input type="text" name="ketebalan_kulit" required>
         <br>
         <label>Insulin</label>
         <input type="text" name="insulin" required>
         <br>
         <label>BMI</label>
         <input type="text" name="bmi" required>
         <br>
         <label>Riwayat Diabetes</label>
         <input type="text" name="riwayat_diabetes" required>
         <br>
         <label>Usia</label>
         <input type="text" name="usia" required>
         <br>
         <button type="submit">Prediksi</button>
      </form>
      
      <!-- Menampilkan hasil prediksi -->
      {% if prediction_text %}
         <h2>{{ prediction_text }}</h2>
      {% endif %}
   </body>
</html>